In [1]:
import pandas as pd
dataset = pd.read_csv("/content/heart.csv")
dataset.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [2]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
upd=['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope']
dataset[upd]=dataset[upd].apply(LabelEncoder().fit_transform)

In [3]:
X = dataset.drop(['HeartDisease'], axis=1)
y = dataset['HeartDisease']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

In [4]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB().fit(X_train,y_train)
clf.predict(X_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f} %".format(acc*100))
from sklearn.metrics import precision_score
pre=precision_score(y_test, y_pred, average='weighted')
print("Precision: {:.2f} %".format(pre*100))
from sklearn.metrics import recall_score
re=recall_score(y_test, y_pred, average='macro')
print("Recall: {:.2f} %".format(re*100))

Accuracy: 85.87 %
Precision: 85.85 %
Recall: 85.32 %

In [5]:
from sklearn.naive_bayes import BernoulliNB
clf = BernoulliNB(binarize=2.5).fit(X_train,y_train)
clf.predict(X_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f} %".format(acc*100))
from sklearn.metrics import precision_score
pre=precision_score(y_test, y_pred, average='weighted')
print("Precision: {:.2f} %".format(pre*100))
from sklearn.metrics import recall_score
re=recall_score(y_test, y_pred, average='macro')
print("Recall: {:.2f} %".format(re*100))

Accuracy: 66.67 %
Precision: 78.72 %
Recall: 71.24 %

In [6]:
import pandas as pd
dataset = pd.read_csv("/content/HepatitisCdata.csv")
dataset.drop('Unnamed: 0',axis='columns', inplace=True)
dataset.head()

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [7]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
dataset["Sex"]=labelencoder.fit_transform(dataset["Sex"])
dataset.tail()

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
610,3=Cirrhosis,62,0,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,3=Cirrhosis,64,0,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,3=Cirrhosis,64,0,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,3=Cirrhosis,46,0,33.0,NaN,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,3=Cirrhosis,59,0,36.0,NaN,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

In [8]:
column_means = dataset.mean()
dataset= dataset.fillna(column_means)
dataset.tail()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
610,3=Cirrhosis,62,0,32.0,416.60000,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,3=Cirrhosis,64,0,24.0,102.80000,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,3=Cirrhosis,64,0,29.0,87.30000,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,3=Cirrhosis,46,0,33.0,68.28392,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,3=Cirrhosis,59,0,36.0,68.28392,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

In [9]:
X = dataset.drop(['Category'], axis=1)
y = dataset['Category']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

In [10]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB().fit(X_train,y_train)
clf.predict(X_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f} %".format(acc*100))
from sklearn.metrics import precision_score
pre=precision_score(y_test, y_pred, average='weighted')
print("Precision: {:.2f} %".format(pre*100))
from sklearn.metrics import recall_score
re=recall_score(y_test, y_pred, average='macro')
print("Recall: {:.2f} %".format(re*100))

Accuracy: 87.03 %
Precision: 91.85 %
Recall: 57.71 %

In [11]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(X_train,y_train)
clf.predict(X_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f} %".format(acc*100))
from sklearn.metrics import precision_score
pre=precision_score(y_test, y_pred, average='weighted')
print("Precision: {:.2f} %".format(pre*100))
from sklearn.metrics import recall_score
re=recall_score(y_test, y_pred, average='macro')
print("Recall: {:.2f} %".format(re*100))

Accuracy: 88.65 %
Precision: 91.73 %
Recall: 59.88 %

In [12]:
from sklearn.naive_bayes import BernoulliNB
clf = BernoulliNB(binarize=2.5).fit(X_train,y_train)
clf.predict(X_train)
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f} %".format(acc*100))
from sklearn.metrics import precision_score
pre=precision_score(y_test, y_pred, average='weighted',zero_division=1)
print("Precision: {:.2f} %".format(pre*100))
from sklearn.metrics import recall_score
re=recall_score(y_test, y_pred, average='macro')
print("Recall: {:.2f} %".format(re*100))

Accuracy: 88.65 %
Precision: 89.97 %
Recall: 28.00 %